<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and link to the external CSS file -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Play Tennis Classification App</title>
</head>
<body>
    <div class="container">
        <!-- Header section start -->
        <header class="header">
            <h1>Play Tennis Classification</h1>
        </header>
        <!-- Header section end -->
    
        <!-- Profile section start -->
        <div class="profile">
            <p>Listia Ningrum | 2008084 | Computer Science</p>
        </div>
        <!-- Profile section end -->
        
        <div class="content">
            <!-- Form section start -->
            <div class="condition">
                <h2>Weather Conditions</h2>
                <form action="{{ url_for('predict') }}" method="post">
                    <div class="condition-type">
                        <label for="outlook">Outlook</label>
                        <select name="outlook" required>
                            <option value="" disabled selected> </option>
                            <option value="0">Overcast</option>
                            <option value="1">Rain</option>
                            <option value="2">Sunny</option>
                        </select>
                    </div>
                    <div class="condition-type">
                        <label for="temp">Temperature</label>
                        <select name="temp" required>
                            <option value="" disabled selected></option>
                            <option value="0">Cool</option>
                            <option value="1">Hot</option>
                            <option value="2">Mild</option>
                        </select>
                    </div>
                    <div class="condition-type">
                        <label for="humidity">Humidity</label>
                        <select name="humidity" required>
                            <option value="" disabled selected> </option>
                            <option value="0">High</option>
                            <option value="1">Normal</option>
                        </select>
                    </div>
                    <div class="condition-type">
                        <label for="wind">Wind</label>
                        <select name="wind" required>
                            <option value="" disabled selected> </option>
                            <option value="0">Strong</option>
                            <option value="1">Weak</option>
                        </select>
                    </div>
                    <!-- Submit button to send the form -->
                    <div class="submit">
                        <br><button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <!-- Form section end -->
            
            <!-- Result display section start -->
            <div class="result">
                <h2>Classification Result</h2>
                <table>
                    <tr>
                        <th>Outlook</th>
                        <th>{{ outlook }}</th>
                    </tr>
                    <tr>
                        <th>Temperature</th>
                        <th>{{ temp }}</th>
                    </tr>
                    <tr>
                        <th>Humidity</th>
                        <th>{{ humidity }}</th>
                    </tr>
                    <tr>
                        <th>Wind</th>
                        <th>{{ wind }}</th>
                    </tr>
                </table>
                <div class="result-predict">
                    {% if hasil %}
                        <p>{{ hasil }}</p>
                    {% else %}
                        <p>Please select conditions!</p>
                    {% endif %}
                </div>
            </div>
            <!-- Result display section end -->
        </div>
    </div>
</body>
</html>
